a:link{color: lawngreen}
a:visited{color:grey}
a:hover{color: tomato;}
a:active{color: blue;}

button:hover{background-color: lightblue;}
button:active{background-color: yellow;}

li:nth-child(odd){background-color:yellow}
li:nth-child(even){background-color:lightgrey}

li:nth-child(3n){background-color:lightgreen}

